NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDH9VwxBdzO3uFFUvGbt_E3AFu9eNXRXvI
NEXT_PUBLIC_FIREBASE_APP_ID=1:1026140799098:web:3efb2a58eea49d15c0fbc3
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=liga-so.firebaseapp.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=1026140799098
NEXT_PUBLIC_FIREBASE_PROJECT_ID=liga-so
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=liga-so.firebasestorage.app
FIREBASE_API_KEY=AIzaSyDH9VwxBdzO3uFFUvGbt_E3AFu9eNXRXvI
GEMINI_API_KEY=
